<div class="user-data flex gap">
  <div class="avatar"><%= tag.span user.username.first.upcase, role: "img" %></div>
  <div class="user_details text-sm">
    <p>Username:
      <%= user.username %></p>
    <p>Email:
      <%= user.email %></p>
    <p class="badge">User</p>
    <div class="flex items-center gap mt-2">
      <%= link_to "Delete",
      user_path(user),
      data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?",
      },
      class: "btn btn--negative",
      disabled: true %>

      <%= button_to "Update",
      edit_user_path(user),
      class: "btn btn--primary",
      method: :get %>
    </div>
  </div>
</div>
