<h1>Welcome, Create an Account to Continue</h1>

<%= form_with model: @user do |form| %>
  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>
  <div>
    <%= form.label :username %>:
    <%= form.text_field :username, placeholder: Faker::Internet.user_name %>
  </div>

  <div>
    <%= form.label :email %>:
    <%= form.email_field :email, placeholder: Faker::Internet.email %>
  </div>

  <div>
    <%= form.label :password %>:
    <%= form.password_field :password, placeholder: "Password" %>
  </div>

  <div>
    <%= form.label :password_confirmation %>:
    <%= form.password_field :password_confirmation, placeholder: "Password Confirmation" %>
  </div>

  <%= form.submit %>
<% end %>
