<%= form_tag "/users", method: :post do %>
  <% if @user.errors.any? %>
    <h4>There we errors while saving the user.</h4>
    <ul>
      <% @user.errors.full_messages.each do |err_msg| %>
        <li><%= err_msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div>
    <%= label_tag "usename" %>
    <%= text_field_tag "user[username]", nil, placeholder: "Enter your username" %>
  </div>

  <div>
    <%= label_tag "email" %>
    <%= email_field_tag "user[email]", nil, placeholder: "Enter your email address" %>
  </div>

  <div>
    <%= label_tag "password" %>
    <%= password_field_tag "user[password]", nil, placeholder: "Password" %>
  </div>

  <div>
    <%= label_tag "password_confirmation" %>
    <%= password_field_tag "user[password_confirmation]",
    nil,
    placeholder: "Password confirmation" %>
  </div>

  <div>
    <%= submit_tag "Create User" %>
  </div>
<% end %>
