<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Simple User Registration" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :all, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="header-layout">
    <header id="header">
      <div class="container flex">
        <div>
          <% if authenticated? %>
            <%= link_to "Simple User Registration", users_path, class: "font-bold text-2xl" %>
          <% else %>
            <%= link_to "Simple User Registration", root_path, class: "font-bold text-2xl" %>
          <% end %>
        </div>
        <nav class="group m-auto" role="group">
          <% if authenticated? %>
            <%= link_to "All Users", users_path, class: "btn" %>
            <%= link_to "Sign out",
            auth_logout_path,
            class: "btn",
            data: {
              turbo_method: :delete,
            } %>
            <%= link_to "My Account", user_path(current_user), class: "btn" %>
          <% else %>
            <%= link_to "Sign in", auth_login_path, class: "btn" %>
            <%= link_to "Sign up", new_user_path, class: "btn" %>
          <% end %>
          <%= link_to "Source Code",
          "https://github.com/nanafox/re-former",
          class: "btn",
          target: "_blank" %>
        </nav>
      </div>
    </header>

    <main id="main">
      <div class="container">
        <%= yield %>
        <% flash.each do |name, message| %>
          <div
            popover
            class="flash"
            style="--flash-position: 1rem;"
            data-controller="element-removal"
            data-action="animationend->element-removal#remove"
            role="alert"
          >
            <%= image_tag "check-circle-outline.svg",
            class:
              (
                if flash[:success]
                  "colorize-positive"
                else
                  (flash[:error] ? "colorize-negative" : "")
                end
              ),
            size: 20,
            aria: {
              hidden: true,
            } %>
            <%= tag.span message %>
          </div>
        <% end %>
      </div>
    </main>
  </body>
</html>
